<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://unpkg.com/vue-cookies@1.7.4/vue-cookies.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="icon" href="Images/candy_logo.png">
    <title>Hovedeside</title>
  </head>

  <body>
    <div id="app">
      <h1>Slikskabsoverblik</h1> <br><br>    
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8 ">
            <a>Filtrer efter dato</a> <br>
            <input v-model.number="searchDay" id="inputDay" placeholder="dag" size="4" />
            <input v-model.number="searchMonth" id="inputMonth" placeholder="måned" size="4"/>
            <input v-model.number="searchYear"id="inputYear" placeholder="år" size="4"/> &nbsp;
            <button v-on:click="filter()" class="btn btn-primary" id="filterButton">Filter</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button style="background-color: rgb(170, 0, 0); border-style: hidden" v-on:click="shutdown(); statusShutOff()" class="btn btn-success">Sluk systemet</button> &nbsp;
            <button style="background-color: green; border-style: hidden" v-on:click="turnmeon(); statusShutOn()" class="btn btn-success">Tænd systemet</button> &nbsp;
            <b id="statusCheck">Systemet er tændt</b>
            <table style="width: 100%; border: solid">
              <tr style="background-color: lightskyblue;">
                <th>Sensor</th>
                <th>Tid</th>
                <th>Er døren åben?</th>
                <th>Billede</th>
              </tr>
              <tr
                v-for="r of filtered "
                v-if="readings.length > 0"
                class="reading-row"
              >
                <td>{{getName(r.sensorId-1)}}</td>
                <td>{{new Date(r.time * 1000).toISOString().split('T')[0]+" "+new Date(r.time * 1000).toISOString().split('T')[1].split('.')[0]}}</td>]
                <td>{{describeBool(r.isOpen)}}</td>
                <td>
                  <img :src="'data:image/jpeg;charset=uft-8;base64,'+r.image"/>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-sm-4-fluid">
            <h2>Sensorer</h2>
            <div  v-for="s in sensors"
                  v-if="sensors.length>0">
              <table>
                <tr>
                  <th v-bind:id="'name'+ s" colspan="2">Sensor: {{getName(s-1)}}</th>
                  <th><input v-bind:id="'nameInput' + s" placeholder="Skift navn på sensor"/></th>
                  <th rowspan="2">
                    <img
                      v-bind:id="s"
                      src="Images/unlocked.gif"
                      style="width: 90px;"
                    />
                  </th>
                </tr>
                <tr>
                  <td style="text-align: center; background-color: green">
                    <button id="openLock" style="background-color: green; border-style: hidden" v-on:click="imageClickUnlock(s)" class="btn btn-success">Åben Skabet</button>
                  </td>
                  <td style="text-align: center; background-color: red">
                    <button id="closeLock" style="background-color: red; border-style: hidden" v-on:click="imageClickLock(s)" class="btn btn-danger">Lås Skabet</button>
                  </td>

                  <td style="text-align: center; background-color: grey">
                    <button v-bind:id="'nameButton' + s" v-on:click="saveName(s)" style="background-color: grey; border-style: hidden" class="btn btn-primary">Gem Navn</button>
                  </td>
                </tr>
              </table>
              &nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="MainPage.js"></script>
  </body>
</html>
