<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="container-fluid" style="border: dotted;">
            <div class="row">
                <div class="col-sm-9">
                    <input v-model.number="searchDay" id="inputDay">
                    <input v-model.number="searchMonth" id="inputMonth">
                    <input v-model.number="searchYear" id="inputYear">
                    <button v-on:click="filter()" class="btn btn-primary" id="filterButton">Filter</button>
                    <table style="width:100%; border: solid;">
                        <tr>
                            <th>Sensor</th>
                            <th>Tid</th>
                            <th>Er døren åben?</th>
                            <th>Er døren låst?</th>
                            <th>Billede</th>
                        </tr>
                        <tr v-for="r of filtered " v-if="readings.length > 0" class="reading-row">
                            <td>{{r.sensorId}}</td>
                            <td>{{new Date(r.time * 1000)}}</td>
                            <td>{{r.isOpen}}</td>
                            <td>{{!r.isOpen}}</td>
                            <td><img :src="'data:image/jpeg;charset=uft-8;base64,'+r.image"/></td>
                        </tr>

                    </table>
                </div>
                <div class="col-sm-3">
                    Sensorer
                    <table>
                        <tr>
                            <th>Sensor ID</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="MainPage.js"></script>
</body>

</html>