h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

body {
    background-color: violet;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
  }

  li {
    display: inline;

  }

  .jumbotron {
      background-color: violet;
  }