h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

body {
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
  }

  li {
    display: inline;

  }

  .jumbotron {
      background-color: grey;
      
  }
  .center {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
  }
  img {
    width: 75%;
    height: auto;
  }